/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Arial'), url('https://fonts.googleapis.com/css?family=Montserrat&display=swap ');
    font-display: swap;
  }


:root{
    --primary-color: #0E2C54;
    --github-color: #333;
    --linkedin-color: #0E76A8;
    --facebook-color: #3B5998;
    --whatapp-color: #25D366;
    --instagram-color: #C13584;
    --skype-color: #00AFF0;
    --gitlab-color: #FC6D27;
    --bg-social: #E0E0E0;
    --bg-claro: #f3f3f3;
    --bg-escuro: #EDEDED;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none !important;
}

h2{
    margin-bottom: 30px;
}

h6{
    margin-bottom: 25px !important;
}

p{
    font-size: 16px;
}

.fixed{
    position: fixed !important;
    z-index: 10000 !important;  
    margin-top: -65px;
}

.btn-center{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn.btn-primary{
    background-color: var(--primary-color);
    border: 2px transparent solid;
    border-radius: 45px;
    transition: all .33s;
    font-size: 14px;
    padding: 8px 24px;
}

.btn.btn-primary:hover{
    background-color: #ccecec;
    border: 2px var(--primary-color) solid;
    color: var(--primary-color);
    font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color);
    border-color: #005cbf;
}

.container-fluid.menu{
    background-color: var(--primary-color);
}

.container-fluid.footer{
    background-color: var(--primary-color);
}
.dedicatoria{
    display: flex;
}
.dedicatoria.right{
    justify-content: flex-end;
}
.dedicatoria p{
    margin-top: 11px;
    margin-bottom: 11px;
    color: #ffffff;
}

.dedicatoria p a{
    text-decoration: none;
    color: #ffffff;
}
.dedicatoria p i{
    margin-left: 5px;
    margin-right: 5px;
    transition: all .2s;
}
.dedicatoria p i:hover{
    transform: scale(1.5);
}

.dedicatoria p i.fa-heart:hover{
    color: #e31b23;
}

.dedicatoria p i.fa-mug-hot:hover{
    color: #6f4e37
}

.container-fluid.social{
    background-color: var(--bg-social) ;
}

.container-fluid.claro{
    background-color: var(--bg-claro) ;
}

.container-fluid.escuro{
    background-color: var(--bg-escuro);
}

.container-fluid.pagina-vazia{
    background-color: rgb(230, 230, 230);
    min-height: calc( 100vh - 152px) !important;
}
.pagina-vazia .container{
    height: 100%;
}

.corpo-vazio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.corpo-vazio{
    width: 100%;
    height: calc( 100vh - 152px) !important;
}
.corpo-vazio .box-zero{
    display: flex;
    margin-top: -65vh;
    width: 100%;
    height: 40vh;
}

.corpo-vazio .box-zero div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.79);
    width: 100%;   
}

.corpo-vazio .box-zero div h2{
    margin-top: 5vh;
    font-size: 14vh;
    margin: 0;
}

.corpo-vazio .box-zero div p{
    font-size: 2vh;
}
.corpo-vazio .box-zero div p::first-letter{
    font-size: 2.5vh;
    font-weight: bold;
}

.navbar{
    display: flex;
}
.navbar-nav{
    height: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffffff;
}

.navbar-toggler i {
    color: #ffffff;
    font-size: 30px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 15x;
    margin: 0 10px;
    border-bottom: 0 white dashed ;
    border-top: 0 white dashed ;
    transition: all .2s;
}

.navbar-nav .nav-link:hover {
    border-top: 3px whitesmoke solid ;
    border-bottom: 3px whitesmoke solid ;
}

.navbar-nav .nav-link.active{
    border-top: 1px whitesmoke solid ;
    border-bottom: 1px whitesmoke solid ;

}

.navbar-brand {
    transition: all .2s;
}
.navbar-brand img{
    max-width: 55px;
    max-height: 55px;   
}
.navbar-brand:hover {
    transform: scale(1.3);
}

.navbar-collapse{
    justify-content: flex-end;
    height: 65px;
}

.navbar.navbar-expand-lg{
    padding: 0;
}

.redessociais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    margin-top: 65px;
}

.redessociais a{
    margin-left: 8px;
    margin-right: 8px;
}

.redessociais a i{
    font-size: 22px;
    color: #1b1b1b;
    transition: all .2s;
}

.redessociais a i:hover {
    transform: scale(1.3);
}

.redessociais a i.fab.fa-github:hover{
    color: var(--github-color);
}
.redessociais a i.fab.fa-linkedin:hover{
    color: var(--linkedin-color);
}
.redessociais a i.fab.fa-facebook:hover{
    color: var(--facebook-color);
}
.redessociais a i.fab.fa-instagram-square:hover{
    color: var(--instagram-color);
}
.redessociais a i.fab.fa-skype:hover{
    color: var(--skype-color);
}
.redessociais a i.fab.fa-gitlab:hover{
    color: var(--gitlab-color);
}


.item-social p{
    display: inline-block;
    margin: 0;
    transition: all .24s;
}

.cont-eu-img{
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 250px;
}

.eu-img{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #9e9e9e;
}

.padding-container{
    padding-top: 90px;
    padding-bottom: 90px;
}
.padding-container2{   
    padding-top: 40px;
    padding-bottom: 50px;
}

.padding-botton-zero{
    padding-bottom: 0;
}

.titulo-sessao{
    display: flex;
    justify-content: center;
}

.titulo-sessao h6{
    text-align: center;
}

.email-label{
    font-size: 17px;
    font-weight: bold;
}

.sobre-texto{
    margin-bottom: 35px;
}

.sobre-texto .intro b{
    font-size: 22px;
    margin-right: 10px;
}
.sobre-texto .nome{
    margin-bottom: 18px !important  ;
}
.sobre-texto .resto-texto p{
    text-indent: 1.5em;
    text-align: justify;
}

.sobre-texto .resto-texto p a{
    color: #004aad;
}
.sobre-texto .resto-texto p a:hover{
    text-decoration: none;
    color: #005cd4;
}

.first-letter p::first-letter{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.cont-social-grande{
    width: 150px;
    margin: auto;
    margin-bottom: 40px;
}
.cont-social-grande a i{
    font-size: 60px;
    margin-bottom: 20px;
    color: #1b1b1b;
}

.cont-social-grande a{
    transition: all .2s;
}
.cont-social-grande a:hover{
    transform: scale(1.1) rotate(10deg);
}

.item-social a i.fab.fa-github{
    color: var(--github-color);
}
.item-social a i.fab.fa-linkedin{
    color: var(--linkedin-color);
}
.item-social a i.fab.fa-facebook{
    color: var(--facebook-color);
}
.item-social a i.fas.fa-envelope{
    color: var(--primary-color);
}
.item-social a i.fab.fa-whatsapp-square{
    color: var(--whatapp-color);
}
.item-social a i.fab.fa-whatsapp{
    color: var(--whatapp-color);
}
.item-social a i.fab.fa-instagram-square{
    color: var(--instagram-color);
}
.item-social a i.fab.fa-skype{
    color: var(--skype-color);
}
.item-social a i.fab.fa-gitlab{
    color: var(--gitlab-color);
}

.titulo-contato{
    margin-top: 30px;
    margin-bottom: 15px !important;
}

.card-social {
    display: flex;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
}

.item-social{
    display: inline-block;
    margin-bottom: 15px;
    transition: all .24s;
}

.item-social:hover a i{
    transform: scale(1.1) rotate(10deg);
}

.item-social:hover a p{
    margin-left: 8px;
}
    
.item-social a i{
    margin-right: 15px;
    font-size: 28px;
    transition: all .24s;
}

.item-social a p{
    color: black;
    transition: all .24s;
}

.span-inline{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px !important;
}

.btn.btn-inline{
    background-color: transparent;
    border-radius: 45px;
    font-size: 16px !important;
    padding: 0 !important;
    font-weight: bold;
    transition: all .33s;
    color: rgba(0,0,0,0.5);
}

.btn.btn-inline:hover{
    color: rgba(0,0,0,1);
}

.toast{
    position: fixed;
    bottom: 50px;
    margin: auto;
    width: 200px;
    height: 50px;
    left: 50%;
    margin-left: -100px;
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.41);
}

.toast .aviso{
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center !important;
    align-items: center;
    border-radius: 0px;
}

.toast .aviso span{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* margin-top: -5px; */
}

.toast .aviso.certo{
    background-color: var(--success) !important;
    border-left: 5px solid #11461d;
    border-right: 5px solid #11461d;
}

.toast .aviso.errado{
    background-color: var(--danger) !important;
    border-left: 5px solid #6b1a22;
    border-right: 5px solid #6b1a22;
}

.form-control {
    border-radius: 12px;
    height: 45px;
    border: solid 1px #a9a9a9;
}

.form-control::placeholder{
    color: #d8d8d8;
}

.form-group label{
    font-weight: bold;
}

.form-group label span{
    color: rgb(206, 1, 1);
}

.texto-curriculo{
    margin-top: 30px;
    margin-bottom: 70px;
}

.texto-curriculo p{
    text-align: center;
}

.margin-bottom-60{
    margin-bottom: 60px;
}

.skils .owl-stage-outer{
    padding-bottom: 15px;
    padding-top: 15px;
    height: 165px;
}

.skils.plus .owl-stage-outer{
    height: 195px;
}

.skils .owl-stage-outer .owl-stage .owl-item{
    width: 110px !important;
    height: 110px !important;
}

.skils.plus .owl-stage-outer .owl-stage .owl-item{
    width: 150px !important;
    height: 150px !important;
}

.skils .owl-stage-outer .owl-stage .owl-item div{
    transition: all .2s;
}
.skils .owl-stage-outer .owl-stage .owl-item div:hover{
    transform: scale(1.05);
}

.skils .owl-stage-outer .owl-stage .owl-item div img{
    /* border-radius: 25px !important; */
    -webkit-box-shadow: 0px 0px 12px -6px rgba(17, 13, 13, 0.39) !important;
    -moz-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.39) !important;
    box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.39) !important;
}
.skils .owl-stage-outer .owl-stage .owl-item div p{
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

.skils .owl-stage-outer .owl-stage .owl-item div p::first-letter{
    font-weight: bold;
    text-transform: uppercase;
}

.skils .owl-nav{
    display: flex !important;
    height: 47px;
    justify-content: center;
}

.skils.plus .owl-nav{
    margin-top: 10px;
}

.skils .owl-nav button{
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 40%;
    background-color: #ececec;
    border: solid 1px #b9b9b9;
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.39);
    transition: all .2s;
}

.skils .owl-nav button:hover{
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
}

.skils .owl-nav button:focus{
    outline: none;
}

.skils .owl-nav button span{
    font-size: 25px;
    line-height: 25px;
    color: #909090;
}

.skils .owl-dots .owl-dot.active span{
    background: none repeat scroll 0 0 red ;
    
}

.card-projeto{
    display: block;
    background-color: #fff ;
    border-radius: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
    transition: all .15s;
    color: black 
}
.card-projeto:hover{
    margin-top: 10px;
    margin-bottom: 26px;
    color: black;
}
.card-projeto .img {
    width: 100%;
    height: 220px;
}
.card-projeto .img img{
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.card-projeto .text-cont{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.card-projeto .text-cont .nome{
    font-weight: bold;
    text-align: center;

}
.card-projeto .text-cont .nome p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 44px;
}

.card-projeto .text-cont .descricao{
    text-align: justify;
}

.card-projeto .text-cont .descricao p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    height: 110px;
}
.card-projeto .text-cont .techs{
    background-color: #f6f6f6;
    padding: 7px 10px;
    border-radius: 25px;
}
.card-projeto .text-cont .techs img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.card-projeto .text-cont .data p{
    margin: 0;
}

@media (max-width: 575.98px) { }

@media (max-width: 767.98px) { 
    .ft-row{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-nav .nav-link:hover {
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }

    .navbar-collapse{
        justify-content: flex-end;
        height: 100%;
    }

    .navbar-nav{
        padding-top: 15px !important;
        padding-bottom: 20px !important;
    }

    .nav-link{
        margin: 0 !important;
        padding: 10px !important;
    }    

    .cont-eu-img{
        max-width: 250px
    }

    .skils .owl-nav{
        display: none !important;
    }
    .padding-container{
        padding-top: 65px;
        padding-bottom: 65px;
    }

 }

@media (max-width: 991.98px) {
    .redessociais {
        margin-top: 65px;
    }

    .menu {
        margin-top: -65px;
    }
    .cont-eu-img{
        margin: auto;
        max-width: 325px
    }
    .eu-img{
        margin-bottom: 40px;
    }
}

@media (max-width: 1199.98px) { }